<h1>Welcome to Outcast!</h1>
<h2>Outcast is a place where users can connect with others in a safe, discourse-positive environment.</h2>

<p>Please <a href='/login'>log in</a> or <a href='/signup'>sign up</a> to get started :)</p>
