<!DOCTYPE html>
<html>
  <head>
    <title>Outcast</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Outcast!</h1>
      <h2>The best online safe space to share, learn, and grow.</h2>
      <a href="/login">Log In</a> or <a href="/signup">Sign Up</a> 
    </div>

  </body>

</html>
